<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="js/vue.js"></script>
</head>

<body>
  <div id="app">
    <div v-if="isLogin">登录成功</div>
    <div v-else>请登录</div>

    <!-- <div v-if="score>=90">优秀</div>
    <div v-else-if="score>=80">良好</div>
    <div v-else="score>=60">一般</div> -->
  </div>
  <script>
    const app = new Vue({
      el: "#app",
      data: {
        msg: "hello",
        isLogin: false,
        score: 100
      }
    })
  </script>
</body>

</html>