<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="js/vue.js"></script>
  </head>

  <body>
    <div id="app">
      <input type="text" v-model="msg" />
      <h2>{{msg}}</h2>

      <!--单选按钮 注意单选按钮都使用v-model了可以不写name属性-->
      <label for="male">
        男：
        <input type="radio" id="male" name="sex" value="男" v-model="sex" />
      </label>
      <label for="formale">
        女：
        <input type="radio" id="formale" name="sex" value="女" v-model="sex" />
      </label>
      <h2>{{sex}}</h2>

      <!--checkbox复选框两种使用方式-->
      <!--1.当做单选按钮使用-->
      <label for="agree">
        是否同意：
        <input type="checkbox" id="agree" v-model="isAgree" />
      </label>
      <h2>{{isAgree}}</h2>

      <!--2.当做多选-->
      <label for="ball" v-for="ball in balls">
        <input
          type="checkbox"
          id="ball"
          name="ball"
          :value="ball"
          v-model="myball"
        />
      </label>
      <h2>{{myball}}</h2>

      <!--select-->
      <!--1.单选-->
      <select name="movie" v-model="mylike">
        <option value="haizeiwang">海贼王</option>
        <option value="huoying">火影</option>
        <option value="kenan">柯南</option>
      </select>
      <h2>{{mylike}}</h2>

      <!--2.多选-->
      <select name="movie" v-model="mylikes" multiple>
        <option value="haizeiwang">海贼王</option>
        <option value="huoying">火影</option>
        <option value="kenan">柯南</option>
      </select>
      <h2>{{mylikes}}</h2>
    </div>
    <script>
      const app = new Vue({
        el: '#app',
        data: {
          msg: 'hello',
          sex: '女',
          isAgree: true,
          myball: [],
          balls: ['football', 'basketball', 'pingpang'],
          mylike: [],
          mylikes: []
        }
      })
    </script>
  </body>
</html>
